.collector{
    display: flex;
    /* flex-wrap: wrap; */
}

.collector-library-container{
    display: flex;
    flex-wrap: wrap;
}

.collector-card-container{
    padding: 15px;
}

.collector-cardgroup-container{
    width: 200px;
}
