.mana-container{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../image/card/mana.png') no-repeat;
    background-size: contain;
    color: #fff;
    font-size: 30px;
}